<?xml version='1.0' encoding='utf-8'?>
    <plugin id="ibm-mfp-push" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
        <name>MFPPush</name>

        <js-module name="MFPPush" src="www/MFPPush.js">
            <clobbers target="MFPPush" />
        </js-module>

        <platform name="android">
            <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

            <config-file target="AndroidManifest.xml" parent="/manifest">
                <uses-permission android:name="android.permission.INTERNET"/>
                <uses-permission android:name="com.ibm.clientsdk.android.app.permission.C2D_MESSAGE" />
                <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
                <uses-permission android:name="android.permission.WAKE_LOCK" />
                <uses-permission android:name="android.permission.GET_ACCOUNTS" />
                <uses-permission android:name="android.permission.USE_CREDENTIALS" />
                <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
                <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            </config-file>

            <config-file parent="/*" target="res/xml/config.xml">
                <feature name="MFPPush">
                    <param name="android-package" value="com.ibm.mobilefirstplatform.clientsdk.cordovaplugins.push.CDVMFPPush" />
                </feature>
            </config-file>

            <config-file parent="/*" target="AndroidManifest.xml" />

            <source-file src="src/android/CDVMFPPush.java"   target-dir="src/main/com/ibm/mobilefirstplatform/clientsdk/cordovaplugins/push" />
        </platform>

        <platform name="ios">
            <config-file parent="/*" target="config.xml">
                <feature name="MFPPush">
                    <param name="ios-package" value="CDVMFPPush" />
                </feature>
            </config-file>
            <source-file src="src/ios/MFPPush.m" />
        </platform>

        <header-file src="src/ios/Bridging-Header.h" />
        <source-file src="src/ios/CDVMFPPush.swift" />

    </plugin>