<?xml version='1.0' encoding='utf-8'?>
    <plugin id="ibm-mfp-push" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
        <name>MFPPush</name>

        <!-- TODO: Remove commit='development' attribute once the plugin is finalized !-->
        <dependency id="ibm-mfp-core" url="https://github.com/ibm-bluemix-mobile-services/bms-clientsdk-cordova-plugin-core" commit="development" />

        <js-module name="MFPPush" src="www/MFPPush.js">
            <clobbers target="MFPPush" />
        </js-module>

        <platform name="android">
            <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

            <config-file target="AndroidManifest.xml" parent="/manifest">
                <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
                <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
                <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
                <uses-permission android:name="android.permission.INTERNET"/>
                <uses-permission android:name="android.permission.WAKE_LOCK" />
                <uses-permission android:name="android.permission.GET_ACCOUNTS" />
                <uses-permission android:name="android.permission.USE_CREDENTIALS" />
                <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
                <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            </config-file>
            
            <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
                <!--Notification Intent -->
                <intent-filter>
                    <action android:name="$PACKAGE_NAME.IBMPushNotification" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </config-file>


            <config-file target="AndroidManifest.xml" parent="/manifest/application">
                <!-- Add GCM Intent Service and intent-filters for RECEIVE and REGISTRATION of notifications -->
                <service android:name="com.ibm.mobilefirstplatform.clientsdk.android.push.api.MFPPushIntentService" />

                <receiver android:name="com.ibm.mobilefirstplatform.clientsdk.android.push.internal.MFPPushBroadcastReceiver"
                          android:permission="com.google.android.c2dm.permission.SEND" >
                    <intent-filter>
                        <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                        <category android:name="$PACKAGE_NAME" />
                    </intent-filter>
                    <intent-filter>
                        <action android:name="android.intent.action.BOOT_COMPLETED" />

                        <category android:name="$PACKAGE_NAME" />
                    </intent-filter>
                </receiver>

            </config-file>

            <config-file parent="/*" target="res/xml/config.xml">
                <feature name="MFPPushPlugin">
                    <param name="android-package" value="com.ibm.mobilefirstplatform.clientsdk.cordovaplugins.push.CDVMFPPush" />
                </feature>
            </config-file>

            <config-file parent="/*" target="AndroidManifest.xml" />

            <source-file src="src/android/CDVMFPPush.java"   target-dir="src/main/com/ibm/mobilefirstplatform/clientsdk/cordovaplugins/push" />
        </platform>

        <platform name="ios">
            <config-file parent="/*" target="config.xml">

                <feature name="MFPPushPlugin">
                    <param name="ios-package" value="CDVMFPPush" />
                </feature>

            </config-file>
            <source-file src="src/ios/CDVMFPPush.swift" />

            <framework src="src/ios/Frameworks/IMFPush.framework" custom="true" />

        </platform>

    </plugin>
